#setting {
  float: left;
  margin-right: 20px;
}

div.setting_field {
  margin-bottom: 5px;
}

label {
  display:block;
  float: left;
  width: 120px;
}

label.category_name {
  margin-right: 10px;
}

label.setting_name {
  margin-right: 10px;
}

span.setting_value {
}

#categories_list {
  clear : both;
}


#desktopfile_content {
  float: left;
}
